.footer {
    position: sticky;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: var(--white);
    padding: 8px 16px;
}

.footer a {
    color: var(--white);
    text-decoration: none;
}

.footer a:hover {
    color: var(--orange);
}

.footer .social-media i {
    cursor: pointer;
}

.footer .social-media i:hover {
    color: var(--orange);
}

@media screen and (max-width: 1090px) {
    .footer {
        flex-direction: column-reverse;
        padding: 16px 0;
        text-align: center;
    }

    .footer .logo {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer .logo img {
        margin: 4px 0;
    }
}